.typograms-source[data-typograms-block="true"] {
  margin: 0.75em 0;
}

.typograms-source[data-typograms-rendered="true"] {
  display: none;
}

svg.debug {
  max-width: 100%;
  height: auto;
  margin: 0.75em 0;
}